<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Regression Suite" thread-count="3" parallel="tests" verbose="4">
  
  <test name="Google Test">
  <parameter name="url" value="https://www.google.com/" ></parameter>
    <parameter name="browser" value="chrome" ></parameter>
  	<classes>
  		<class name="testcases.GoogleTest" />
  	</classes>
  </test> <!-- Test -->
  
  <test name="Amazon Test">
    <parameter name="url" value="https://www.amazon.com/"></parameter>
    <parameter name="browser" value="chrome" ></parameter>
  	<classes>
  		<class name="testcases.AmazonTest" />
  	</classes>
  </test> <!-- Test -->
  
  <test name="OpenCart Test">
    <parameter name="url" value="https://naveenautomationlabs.com/opencart/index.php?route=common/home"></parameter>
    <parameter name="browser" value="chrome" ></parameter>
  	<classes>
  		<class name="testcases.OpenCartTest" />
  	</classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
